#root {
  width: 100%;
  display: flex;
}

.landing-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border: 1px solid gray;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(15, 15, 15);
  box-shadow: 0px 0px 0.5rem black;
  gap: 4rem;
  justify-content: space-around;
  align-items: center;
}
.fullpage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  min-height: 100vh;
}
.halfpage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  min-height: 50vh;
}

h1 {
  font-size: 3.5em;
  line-height: 1.1;

  text-align: inherit;
}

h2 {
  font-size: 2.5em;
  font-weight: 500;
  text-align: inherit;
}
main {
  padding-inline: 1rem;
  width: 100%;
  max-width: 64rem;
  margin-inline: auto;
}
.full-flex {
  flex: 1;
}
.cta-container {
  font-size: 1.25rem;
}
@keyframes bob-up-down {
  0% {
    translate: 0 0;
  }
  100% {
    translate: 0 1rem;
  }
}
.cta-arrow {
  text-align: center;
  font-size: 3rem;
  animation: bob-up-down 1500ms infinite alternate;
}
.story {
  max-width: 38rem;
}
.text-center {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logos-container {
  margin-top: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 38rem;
}

.ipa-container {
  gap: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.no-appearance {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  padding: 0.2rem;
  border-radius: 10px;
}
.story {
  max-width: 38rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.basic-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.blog-anchor {
  font-weight: bolder;
  font-size: 1.25rem;
}
