* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  background: radial-gradient(
    circle at 50% 50vh,
    rgb(41, 41, 41) 10%,
    rgb(20, 20, 20) 90%
  );
}
:root {
  font-family: Source Code Pro, monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  cursor: pointer;
  color: inherit;
}

body {
  margin: 0;
  display: flex;
  min-width: 280px;
  min-height: 100vh;
}
