.project-container {
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  backdrop-filter: blur(6px);
  background-color: rgba(39, 39, 39, 0.85);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
  flex: 1;
  gap: 1rem;
  min-width: 16rem;
  padding: 1.25rem 1rem;
  border: 1px solid rgb(63, 63, 63);
  justify-content: space-around;
}
.project-title {
  font-weight: bold;
  text-wrap: nowrap;
}
.project-meta {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  text-wrap: nowrap;

  justify-content: space-around;
  font-size: 0.85rem;
  flex: 1;
}
.project-buttons {
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  gap: 0.75rem;
  flex: 1;
}
.project-image {
  width: 100%;
}
.project-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.project-thumbnail-container {
  position: relative;
}
.project-thumbnail-container > video {
  width: 100%;
  border-radius: 1rem;
  transition: opacity 300ms;
  cursor: pointer;
}
.project-thumbnail-container > img {
  width: 100%;
  border-radius: 1rem;
  transition: opacity 300ms;
  cursor: pointer;
}

.project-thumbnail-overlay {
  position: absolute;
  aspect-ratio: 3/2;
  height: auto;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 1rem;
  background: linear-gradient(rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 1) 100%);
  font-weight: bold;
  border-radius: 1rem;
  transition: opacity 300ms;
  opacity: 0;
  cursor: pointer;
}

.project-thumbnail-overlay:hover {
  opacity: 1;
}
.project-separator {
  flex: 5;
}
@media screen and (max-width: 450px) {
  .project-separator {
    display: none;
  }
}
