.project-container {
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  backdrop-filter: blur(6px);
  background-color: rgba(39, 39, 39, 0.85);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
  flex: 1;
  gap: 1rem;
  min-width: 16rem;
  padding: 1.25rem 1rem;
  border: 1px solid rgb(63, 63, 63);
  justify-content: space-around;
}
.project-title {
  font-weight: bold;
  text-wrap: nowrap;
}
.project-meta {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  text-wrap: nowrap;
  font-size: 0.85rem;
}
.project-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

.project-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
