.scroll-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: #2a2a2a;
}

.scroll-progress {
  width: 50%;
  background-color: #6a6a6a;
  height: 100%;
}
