nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  flex: 2;
  width: 100%;
  position: absolute;
  z-index: -1;
}
nav.mobile {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 666px) {
  nav.desktop {
    display: none;
  }
  nav.mobile {
    display: flex;
  }
}
