.internationalization-button{
    height: auto;
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
    backdrop-filter: blur(6px);
    background-color: rgba(39, 39, 39, 0.85);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
  
    gap: 1rem;
    min-width: 2rem;
    padding: 0.5rem 0.5rem;
    color: white;
    font-size: inherit;
    border: 1px solid rgb(63, 63, 63);
    justify-content: space-between;
    font-family: inherit;
  }
  